/* ---- ALL ---- */
:root {
    --black: #424242;
    --grey: #d3d3d3;
    --light-grey: #f0f0f0;
    --blue: #89CFF0;
    --pink: #F8C8DC;
    --cream: #FEFBEA;
    --dark-pink: #cc99a2;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-image: linear-gradient(0deg, rgb(247, 247, 247) 23.8%, rgb(137, 207, 240) 92%);
    background-repeat: no-repeat;
}

/* ---- PLAYER ---- */
