/* ---- ALL ---- */
:root {
    --black: #424242;
    --grey: #d3d3d3;
    --light-grey: #f0f0f0;
    --blue: #89CFF0;
    --pink: #F8C8DC;
    --cream: #FEFBEA;
    --dark-pink: #cc99a2;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    background-image: linear-gradient(0deg, rgb(247, 247, 247) 23.8%, rgb(137, 207, 240) 92%);
    background-repeat: no-repeat;
}

/* ---- PLAYER ---- */
.container {
    display: flex;
    position: relative;
    border-radius: 0.938rem;
    background-color: var(--pink);
    box-shadow: 0 10px 60px #cc99a2;
    margin: 6.25rem 0;
    padding: 1.25rem 1.875rem;
    z-index: 999;
}

.album-container {
    position: relative;
    width: 10rem;
}

.album-container::after {
    content:"";
    position: absolute;
    left: 50%;
    bottom: 50%;
    border-radius: 50%;
    background-color: var(--cream);
    height: 1.25rem;
    width: 1.25rem;
    transform: translate(-110%, -150%);
}

.album-container img {
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 50%;
    object-fit: cover;
    height: 8rem;
    width: 8rem;
    animation: rotate 5s linear infinite;
    animation-play-state: paused;
}

.container.playing .album-container img{
    animation-play-state: running;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.nav {
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.act-btn {
    cursor: pointer;
    font-size: 1.25rem;
    border: 0;
    padding: 0.40rem;
    margin: 0 1.25rem;
    background-color: var(--pink);
    color: var(--cream);
}

.act-btn-lg {
    font-size: 1.7rem;
}

.info {
    position: absolute;
    opacity: 0;
    transform: translateY(0%);
    transition: transform 0.4s ease-in, opacity 0.3s ease-in;
    width: calc(100% - 2.5rem);
    top: 0;
    left: 1.25rem;
    padding: 0.625rem 0.625rem 0.625rem 6em;
    border-radius: 0.938rem;
    background-color: rgba(254, 251, 234, 0.3);
    color: var(--black);
}

.info h4 {
    margin: .8rem;
    margin-left: 4.1rem !important;
}

.container.playing .info {
    transform: translateY(-100%);
    opacity: 1;
}

.progress-container {
    position: relative;
    left: 23%;
    height: 0.25rem;
    width: 70%;
    margin: 0.625rem 0;
    cursor: pointer;
    border-radius: 0.313rem;
    background-color: var(--cream);
}

.progress {
    height: 100%;
    width: 50%;
    border-radius: 0.313rem;
    background-color: var(--dark-pink);
}